.HomePage {
    display: flex;
    width: 100vw;
    justify-content: start;
    align-items: start;
    padding: 0.5rem;
}

.SearchArea {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem;
    border: 10px;
    border: 1px solid rgb(219, 103, 221);
    border-radius: 10px;
}

.SearchAreaTitleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(103, 103, 221);
}

.SearchAreaTitle {
    font-size: 1rem;
}

.SearchAreaAddIcon {
    cursor: pointer;
    height: 30px;
    width: 30px;
    transition: 1s;
}

.SearchAreaAddIcon:hover {
    color: rgb(219, 103, 221);
    transition: 1s;
}

.SearchAreaInputBox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.InputContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.InputCloseIcon {
    cursor: pointer;
    transition: 1s;
    font-size: 1rem;
    color: rgb(219, 103, 221);
}

.InputCloseIcon:hover {
    cursor: pointer;
    transition: 1s;
    color:  rgb(103, 103, 221);
}

.InputCnpj {
    border: 1px solid rgb(219, 103, 221);
    border-radius: 4px;
    flex-grow: 1;
}

.InputCnpj:focus, .InputCnpj:active {
    border: 1px solid rgb(246, 163, 248);
    border-radius: 4px;
}

.SearchAreaButton {
    background-color: rgb(219, 103, 221);
    border: 1px solid rgb(103, 103, 221);
    border-radius: 4px;
    margin: 0.5rem 0px;
    color: white;
    cursor: pointer;
    transition: 1s;
}

.SearchAreaButton:hover {
    background-color: rgb(103, 103, 221);
    border: 1px solid rgb(103, 103, 221);
    transition: 1s;
}
.CompaniesSearched{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.CompanyContainer{
    display: flex;
    padding: 0.5rem;
    border: 1px solid rgb(246, 163, 248);
    margin-bottom: 0.5rem;
    border-radius: 10px;
    width: 80%;
    justify-content: space-around;
}

.CompanyInfo{
    display:  flex;
    flex-direction: column;
    gap: 4px;
}

.CompanyInfoTitle{
    color: black;
    font-weight: bold;
    font-size: 1rem;
}

.CompanyInfoValue{
    color: gray;
    font-size: 1rem;
}